/* roboto-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'), url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-500 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'), url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-500.woff') format('woff'), /* Modern Browsers */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-500.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/roboto-v20-cyrillic_cyrillic-ext_latin-700.svg#Roboto') format('svg');
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size:30px;
  color: #1f1f24;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

body {
  background-color: #fbfbfb;
  overflow-x: hidden;
}

/* CONTAINER */
.container-box {
  padding-left: 20px;
  padding-right: 20px;
  
}

/* HEADER */
.b-header {
  padding-top:15px;
}
.b-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-burger-box {
  cursor: pointer;
}

.b-burger {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background-color: #fa0891;
}

.b-burger:last-child {
  background: linear-gradient(to bottom, #fa0891, #f1da36);
}

.b-header__nav {
  display: none;
}

.b-header__contact {
  display: flex;
}

.b-tel {
  font-size: 18px;
  font-weight: bold;
  color:#1f1f24;
}

.b-button--hiden {
  display: none;
}

.b-header__tel {
  width: 26px;
  height: 26px;

}

.b-tel__img {
  object-fit: cover;
}

/* BUTTON */

.b-button {
  background-color: #ff4e2e;
  width: 100%;
  color:#fff;
  padding: 18px 20px;
}

/* MAIN */ 
.b-main {
  padding-top: 85px;
}

.b-aboutme {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  position: relative;

}
.b-aboutme__block {
  padding-top: 7px;
}

.b-aboutme__inner {
  width: 100%;
}

.b-aboutme__img-box {
  width:280px;
  height: 330px;
  padding-left: 60px;
}

.b-aboutme__img {
  object-fit: cover;
}

.b-aboutme__background {
  background:linear-gradient(to bottom, #fa0891, #ff8362);
  width: 100%;
  height: 330px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; 
}

.b-aboutme__title {
 font-size:30px; 
 font-weight: 900;
 color: #1f1f24;
 margin-bottom: 8px;
}

.b-page {
  color: #919bb3;
  line-height: 22px;
  margin-bottom: 25px;
}
.b-page__size {
 font-size: 18px;
}

.b-skills {
  text-align: center;
  padding-top: 42px;
}
.b-skills__subtitle {
  margin-bottom: 45px;
}
.b-skills__listed {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}

.b-skills__work {
  width: 220px;
  max-width: 100%;
  margin-bottom: 24px;
  line-height: 22px;
}
.b-skills__img {
  margin-bottom: 12px;
}
.b-examples {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 51px;
}

.b-examples__subtitle {
  margin-bottom: 43px;
}
.b-examples__wrapp {
  display: flex;
  margin-bottom: 67px;
}

figure img {
  width: 280px;
  height: 250px;
}
.b-advertising {
  background:linear-gradient(to bottom, #fa0891, #ff8362);
  padding-top: 48px;
  padding-bottom: 50px;
}
.b-advertising__title {
  color: #ffffff;
  font-size: 28px;
  letter-spacing: -0.8px;
  margin-bottom: 38px;
  line-height: 38px;
}
.b-advertising__page {
  color: #ffffff;
  font-size: 15px;
  line-height: 28px;
}
/*FOOTER */ 

.b-footer__end {
  background-color: #31293c;
  color: #ffffff;
  font-size: 12px;
}
.b-footer__text {
  margin:0 auto;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
}

.b-footer__number::before {
  content: "";
  display:inline-block;
  width: 14px;
  height: 10px;
  background-image: url(img/numbermobil.png);
}

.b-footer__mail::before{
  content: "";
  display:inline-block;
  width: 13px;
  height: 13px;
  background-image: url(img/callmobil.png)
}

.b-social {
  display:flex;
  justify-content: space-around;
}

@media  (min-width: 660px) and (max-width: 1024px) {
   .b-skills__listed{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   }
}